.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding: 0;
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}


/* Custom page header */

.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}


/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}


/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}


/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}


/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

body {
    padding-top: 80px;
}

body,
input,
select,
button {
    font-family: "Lato", sans-serif;
    font-size: 17px;
    color: #555;
}


/*-------------------------------------*/


/*BANNER*/

.banner-img-block {
    margin: 0 auto 0 auto;
    width: 840px;
    padding-bottom: 35px;
    border-bottom: 1px solid #bbb;
}

.banner-img {
    float: left;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 280px;
    transform: scale(0.85);
    transform: scale(0.85);
    -webkit-transform-origin: top;
}

.banner-img-animate {
    transition: all 0.4s linear 0.8s;
    -webkit-transition: all 0.4s linear 0.8s;
}

.banner-img-1 {
    top: 40px;
    left: 280px;
    transform: scale(0.78);
    -webkit-transform: scale(0.78);
    z-index: 2;
}

.banner-img-1.banner-img-animate {
    left: 10px;
    top: 55px;
    transform: scale(0.85);
    -webkit-transform: scale(0.85);
}

.banner-img-2 {
    transform: scale(0.85);
    -webkit-transform: scale(0.85);
    z-index: 3;
}

.banner-img-2.banner-img-animate {
    transform: scale(1);
    -webkit-transform: scale(1);
}

.banner-img-3 {
    top: 80px;
    right: 280px;
    transform: scale(0.71);
    -webkit-transform: scale(0.71);
    z-index: 1;
}

.banner-img-3.banner-img-animate {
    right: 10px;
    transform: scale(0.85);
    -webkit-transform: scale(0.85);
    top: 55px;
}


/*-------------------------------------*/


/*BackGround*/

.background-block {
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 0;
    position: relative;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.background-block-content {
    color: #fff;
    position: relative;
    z-index: 1;
}

.background-block-content a {
    color: #fff;
    border-bottom: 1px solid;
}

.background-block-content a:hover {
    color: #fff;
    font-style: italic;
    text-decoration: none;
    color: #00A9FF;
}


/*-------------------------------------*/


/*Contact*/

.background--location {
    background-image: url(../images/contact/location.jpg);
}

.contact-block {
    margin-top: 40px;
}


/*-------------------------------------*/


/*Header*/

header {
    z-index: 5;
}

.background--header {
    background-image: url(../images/bg/dark-sharp-edges.png);
    z-index: 5;
}

.header {
    border-bottom: 0px;
    margin-bottom: 10px;
}

.cbp-af-header-shrink {
    opacity: 0.9;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
}

.navbar-inverse .navbar-brand {
    font-family: "Damion", cursive;
    font-size: 28px;
    min-width: 120px;
    color: #00A9FF;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:visited {
    font-family: "Damion", cursive;
    font-size: 28px;
    min-width: 120px;
    color: #00A9FF;
}

.nav-active {
    border-bottom: 3px solid #00A9FF;
}

.nav li.nav-active a {
    color: #fff;
    font-weight: 700;
}

.active {
    border-bottom: 3px solid #00A9FF;
}

.nav li.active a {
    color: #fff;
    font-weight: 700;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: transparent;
}


/*-------------------------------------*/


/*Overview*/

.background-block2 {
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 300px;
}

.background--responsive {
    background-image: url(../images/Products/responsive-web-design.png);
}

.background--webdesign {
    background-image: url(../images/Products/tendance_webdesign.jpg);
}

.background--css {
    background-image: url(../images/Products/css.jpg);
}

.background--repair {
    background-image: url(../images/Products/Computer-Repair-Services.jpg);
}

.product-container {
    margin-top: -45px;
}

.product {
    color: #fff;
    overflow-x: hidden;
    height: 300px;
}

.product ul {
    font-weight: 300;
    padding: 20px;
    margin-left: 10px;
    font-size: 120%;
    vertical-align: middle;
}

.product:nth-of-type(odd) {
    background-color: #555;
    text-align: right;
}

.product:nth-of-type(even) {
    background-color: #444;
}


/*-------------------------------------*/


/*-------------------------------------*/


/*-------------------------------------*/


/* Helpers: Typography */

.heading-primary {
    font-size: 220%;
    font-weight: 300;
    font-family: inherit;
    text-align: center;
    padding: 40px 0;
}

.heading-primary2 {
    font-size: 220%;
    font-weight: 300;
    font-family: inherit;
    text-align: center;
}

.heading-secondary {
    font-size: 130%;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
}

.sub-heading {
    font-style: italic;
    text-align: center;
    padding: 0 0 20px 0;
}

.sub-heading1 {
    font-style: italic;
    text-align: center;
}

.heading-block [class|="heading"] {
    padding-bottom: 0;
}

.ul-base {
    padding: 0;
    list-style-type: none;
}

.font-small {
    font-size: 90%;
}

.font-smaller {
    font-size: 80%;
}

.font-smallest {
    font-size: 70%;
}

.font-large {
    font-size: 110%;
}

.font-larger {
    font-size: 120%;
}

.font-largest {
    font-size: 130%;
}


/* Helpers: Centering */

.center {
    text-align: center;
}

.center-element {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.vertical-center {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.dead-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.icon-round-wrap {
    border: 2px solid #00A9FF;
    font-size: 20px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-right: 5px;
}


/* Contact: Google Map */

.map-google-embed iframe {
    width: 100%;
    display: block;
    pointer-events: none;
}

.map-google-embed img {
    max-width: none;
}